<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"></head>
    <title>Loops</title>
</head>
<body>
    <h1> Loops in Python </h1>
    <h2> How to do a basic for-in loop in Python </h2>
    <p>For loops can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient.</p>
    <hr/>
    <h2> How to use a basic while loop in Python </h2>
    <p> While loops repeat as long as a certain boolean condition is met </p>
    <hr/>
    <h2> What are "break" and "continue" statements </h2>
    <p>break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the "for" or "while" statement. </p>
</body>
</html>